<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paises del mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>
      Listado de paises
    </ion-label>
  </ion-item>

  <ion-button expand="block" (click)="mostrarTodos()">Consulta</ion-button>

  <ion-item>
    <ion-label class="opcion">
      Buscar paises por idioma
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Escribe el idioma en inglés
    </ion-label>
  </ion-item>

  <ion-item>
    <br>
    <ion-input type="text" placeholder="Buscar país" [(ngModel)]="nomIdioma"></ion-input>
    <ion-button color="medium" (click)="buscarIdioma()">Buscar</ion-button>
  </ion-item>

  <ion-badge color="tertiary" class="title">Consultar paises por continente</ion-badge>

  <ion-list>
    <ion-item>
      <ion-label (click)="buscarRegion('Africa')">Africa</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="buscarRegion('Americas')">América</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="buscarRegion('Asia')">Asia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="buscarRegion('Europe')">Europa</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="buscarRegion('Oceania')">Oceanía</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
